.footer#footer
    .container-footer
        .footer__logo
            include ../blocks/logo.pug
        .footer__social-networks
            
            a(class="footer__social-network" href="https://www.facebook.com/OMOGROUP1980" target="blank" ) 
                include ../icons/icon-facebook
                span Facebook
            a(class="footer__social-network" href="https://www.facebook.com/OMOGROUP1980" target="blank" ) 
                include ../icons/icon-instagram
                span Intagram

