.navbar-header#navbar-header
    a(href="" class="container-logo")
        include ../blocks/logo.pug
    .navbar-header__second
        .navbar__actions
            //- .bag
            //-     include ../icons/icon-bolsa.pug
            //-     span Bolsa
        .navbar__hamburguer 
            div(id="hamburguer" class="hamburguer navbar-header__button--hamburguer")
                .hamburguer__div-center#hamburguer__div-center
        .navbar__links#navbar__links
            a(href="/" class="navbar__link animated-border" id="inicio" ) Inicio
            a(href="/catalogo.html" class="navbar__link animated-border" id="catalogo") Catalogo
            a(href="/tiendas.html" class="navbar__link animated-border" id="tiendas") Tiendas

            //- a(href="" class="navbar__link animated-border " ) WhatsApp
