
.product
    .swiper.product-slider
        a( class="product-slider__slides swiper-wrapper" href=`${whatsapp} Me interesa https://brklbrooklyn.com/cdn/shop/files/Camiseta_regular_comic_bart_brkl_brooklyn.jpg?v=1694713008&width=600` target="blank")
            .product-slider__slide.swiper-slide
                img(class="product-slider__img" src="https://brklbrooklyn.com/cdn/shop/files/Camiseta_regular_comic_bart_brkl_brooklyn.jpg?v=1694713008&width=600" alt="alt")
            .product-slider__slide.swiper-slide
                img(class="product-slider__img" src="https://cdn.shopify.com/s/files/1/0650/0188/1847/files/Camiseta_regular_comic_bart_brkl.jpg?v=1694713008&width=600" alt="alt")
        .product-slider__btns
            .product-slider-btn-next.swiper-button-next
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"><path d="m309.346-98.232-44.96-45.191L603.27-481.615l-338.884-338.5 44.96-44.884L692.73-481.615 309.346-98.232Z"/></svg>
            .product-slider-btn-prev.swiper-button-prev
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"><path d="m309.346-98.232-44.96-45.191L603.27-481.615l-338.884-338.5 44.96-44.884L692.73-481.615 309.346-98.232Z"/></svg>
        
        a(class="product__btn mybtn" href=`${whatsapp} Me interesa https://brklbrooklyn.com/cdn/shop/files/Camiseta_regular_comic_bart_brkl_brooklyn.jpg?v=1694713008&width=600`  target="blank") Más información
    .product__text
        h4.h4.product__title Camiseta Básica Bart Break
        span 65.000 COP
    //- .producto__bag
    //-     include ../icons/icon-bolsa.pug
    //-     span.product__bag_text agregar
