//- pug -w --pretty src/pug/pages/*.pug -o ./public -p ./src/pug/templates
<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        
        title Extrene
        //- meta(http-equiv="X-UA-Compatible" content="ie=edge")
        script(src="scripts-min.js" defer)
        link(rel="icon" href="favicon.svg" type="image/svg+xml")

        //- ? STUB --- PRECARGAR FUENTES
        //- <link rel="preload" href="text.ttf" as="font" type="font/otf" crossorigin>
        <link rel="preload" href="title.ttf" as="font" type="font/otf" crossorigin>
        //- ? STUB --- AUTOR
        meta(name="Extrene" content="Tienda de ropa")
        <meta name="keywords" content="ropa, tienda de ropa, pago contra entrega, Sistecredito, envíos gratis, fabricantes, moda, hombre, mujer">
        <link rel="social" href="https://www.facebook.com/OMOGROUP1980">
        meta(name="author" content="Ceo Alg")
        //- ? STUB --- INDEXAR LOS BUSCADORES | no es necesario si esta en index
        meta(name="robots" content="index, follow")
        //- ? STUB --- CSP
        //- <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://www.google.com/;font-src https:; style-src 'unsafe-insection'; style-src-elem  https:; script-src 'self' ">
        link(rel="icon" href="favicon.svg" type="image/svg+xml")
        <meta name="description" content="Bienvenido a nuestra tienda de ropa. Encuentra las últimas tendencias en moda para hombres y mujeres. Ofrecemos una amplia selección de prendas de alta calidad.">


        block head




    body.body#body

        -const whatsapp = "https://wa.me/+573244117596?text="

        //- TODO Producto 
        -let precio = "00.000"
        -let imagen1 = "https://brklbrooklyn.com/cdn/shop/files/Camiseta_regular_comic_bart_brkl_brooklyn.jpg?v=1694713008&width=600"
        -let imagen2 = "https://cdn.shopify.com/s/files/1/0650/0188/1847/files/Camiseta_regular_comic_bart_brkl.jpg?v=1694713008&width=600"
        -let nombre = "Camiseta Básica"


        header.header
            include ../blocks/navbar-header.pug
            block header

        main.main
            block main

            //- include ../blocks/window-search
            include ../blocks/js.pug
            include ../blocks/footer.pug
        include ../blocks/contact-button

