- imagen1 = "/img/products/camisetas-basicas/RZ1009-FRENTE.webp"
- imagen2 = "https://cdn.shopify.com/s/files/1/0650/0188/1847/files/Camiseta_regular_comic_bart_brkl.jpg?v=1694713008&width=600"
- nombre = "Camiseta Básica"
- precio = "100.000"

include ../products/product.pug