@import "../scss omnibus/global";
@import "../scss omnibus/blocks/products";

body {
  position: relative;

  .header {
    height: 100vh;
    overflow: hidden;

    .video-header {
      height: 100%;
      width: 100%;
      position: relative;
      .video-header__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
      }
      .video-header___video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: $z-index-1;
        @extend .position-absolute;
      }
      .video-header__video--landscape {
        display: none;
      }

      @include tablet-portrait {
        .video-header__video--portrait {
          display: none;
        }
        .video-header__video--landscape {
          display: block;
        }
      }
      .video-header__text {
        @extend .position-absolute, .flex-center, .flex-column;
        gap: var(--space-9);
        z-index: $z-index-2;
        padding: var(--space-5); 
        background-color: rgba(255, 255, 255, 0.7);

        .video-header__content-text {
          margin-top: auto;
          margin-bottom: 25vh;
          overflow: hidden;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: 200;
          gap: var(--space-3);
          .video-header__tittle {
            letter-spacing: 1px;
            line-height: 1.5;
            font-size: 14px;
            text-align: end;
          }
        }
      }
    }
  }

  .main {
    section {
      width: 100%;
    }

    .section-1 {
      width: 100%;
      height: 100vh;
      padding-bottom: var(--space-10);

      .mySwiper {
        height: 100%;
        width: 100%;
        .swiper-wrapper {
          .swiper-slide {
            height: 100%;
            width: 100%;
            display: flex;
            position: relative;
            .mySlider__picture {
              width: 100%;
              .mySwiper__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
              }
            }
            .mySwiper__text {
              @extend .position-absolute, .flex-center, .flex-column;
              align-items: flex-start;
              gap: var(--space-3);
              background-color: rgba(0, 0, 0, 0.25);
              padding: var(--space-3);
              height: min-content;
              width: max-content;
              max-width: 100%;
              top: auto;
              bottom: 10%;
              @include tablet-landscape {
                bottom: 15%;
                width: max-content;
                margin-left: 15%;
              }

              h2,
              p {
                color: var(--color-white);
              }
            }
          }
        }
        .mySwiper__buttons {
          .swiper-button-next,
          .swiper-button-prev {
            height: 48px;
            width: 48px;
            color: var(--color-white);
            padding: 8px 20px;

            &::after {
              content: "";
            }
          }

          .swiper-button-prev {
            padding: 8px;
            left: var(--space-9);
            display: none;
            svg {
              transform: translateX(4px);
            }
            @include tablet-landscape {
              display: flex;
              border: none;
            }
          }
          .swiper-button-next {
            right: var(--space-3);
            @include tablet-landscape {
              right: var(--space-9);
            }
          }
        }
      }
    }

    .section-2 {
      background-color: var(--color-background-primary);
      height: min-content;
      padding-top: var(--space-15);
      padding-bottom: var(--space-15);
      gap: var(--space-5);

      @extend .flex-center, .flex-column;
      .about__logo {
        svg {
          height: 10rem;
          width: auto;
          max-width: 100%;
        }
      }
    }
    .section-3 {
      @extend .flex-center, .flex-column;
      text-align: center;
      padding-left: var(--space-5);
      padding-right: var(--space-5);
      padding-bottom: var(--space-15);
      .payment__h1 {
        margin-top: var(--space-10);
      }
      .cards {
        margin-top: var(--space-9);
        margin-bottom: var(--space-9);
        @extend .flex-center;
        gap: var(--space-7);
        flex-wrap: wrap;
        .card {
          min-width: max-content;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          gap: var(--space-2);
          border: 1px solid black;
          padding: var(--space-5);
          width: 100%;
          @include tablet-landscape {
            flex: 1;
            width: 260px;
          }
          h3,
          p {
            text-align: center;
          }
          .card__icon {
            height: 80px;
            // width: 80px;
          }
          .card__btn {
            margin-right: auto;
            margin-left: auto;
          }
        }
      }
      .payment__p {
        max-width: 950px;
        user-select: none;
        span {
          color: red;
        }
        .payment__btn {
          font-size: 14px;
          color: var(--color-primary-700);
          text-decoration: underline;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
.section-new {
  width: 100%;
  padding-left: var(--space-1);
  padding-right: var(--space-1);
  padding-top: var(--space-10);
  padding-bottom: var(--space-15);

}
.section-4 {
  padding-bottom: var(--space-10);
  .slider-hook {
    .swiper-slide {
      overflow: hidden;
      img {
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
.swiper-button-next,
.swiper-button-prev {
  &::after {
    content: "" !important;
  }
}
